<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DemoWebShopSuite" verbose="1" parallel="false">
    <test name="SeleniumE2ETests">
        <classes>
            <class name="tests.DemoWebShopE2ETest"/>
            <class name="runners.CucumberTestRunner"/>
        </classes>
    </test>
</suite>
